* {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid gray; */
    box-sizing: border-box;
    position: relative;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin: 0;
    padding: 0.3rem 0; /* 위아래 0.5rem 간격 설정 */
}
.line {
    min-height: 1px;
    background-color: lightgray; 
    width: calc(100% - 1.6rem); 
    /* 전체 너비에서 양쪽 여백을 빼기 위해 calc 사용 */
    margin: 0.8rem 0.8rem;
}

/* 헤더 */
header {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.6rem;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 12rem;
}

header h1 {
    font-size: 1.5rem;
    margin-left: 5px;
}

/* 헤더 오른쪽 아이콘 */
.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem; 
    height: 2.5rem;

}

.header-icon i {
    font-size: 1.25rem;
    color: black;
}

.header-icon:hover{
    background-color: #ebebebf1;
    width: 2.5rem;
    height: 2.5rem; 
    border-radius: 50%;
    transition: background-color 0.4s ease;
    cursor: pointer;
}

/* 메인시작 */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto /*스크롤할 때 main부분만 움직이라고*/
}

/* 내프로필 */
.my-profile-container{
    display: flex;
    align-items: center;
    margin: 0.8rem 0.8rem;
    margin-bottom: 0.4rem;
    width: calc(100% - 1.6rem); 
}
.my-profile-container>img{
    width: 4.2rem;
    float: left;
    border-radius: 35%;
    background-color: #c985a0;
    align-items: center;
}
.my-profile-container h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    margin-left: 10px; 
}

/* 멀티프로필 */
.multi-profile-button{
    margin-left: auto;
    display: flex;
    align-items: end;
    margin-right: 0.8rem;
}
.multi-profile-button>img{
    width: 2rem;
    border-radius: 35%;
    background-color: #c985a0;
    align-items: center;
    margin-right: 0.5rem;
}
.angle-right{
    align-items: center;
    color: #979797;
    margin-bottom: 0.3rem;
}

/* 업데이트한 프로필 */
.updated-profile-container{
    display: flex;
    flex-direction: column;
    margin: 0 0.8rem; 
    width: calc(100% - 1.6rem); 
}

/* 헤더들 */
.header{
    display: flex;
    width: 100%;
    height: 1rem;
    padding-left: 5px;
}
.header span{
    color: #979797;
    font-size: 0.8rem;
    align-items: center;
}
.header-text{
    align-items: center;
}
.header-number{
    margin-left: 0.2rem;
    display: flex;
    margin-top: 3px;
    align-items: end;
    /* 이 header-number만 수평이 안맞아서.. 직접 이동시킴 다른수단을 써봤으나 실패 */
}
.angle-up{
    margin-left: auto;
    display: flex;
    align-items: center;
}

/* 업데이트한 사용자들 */
.other-friend-profile-container{
    display: flex;
    align-items: center; 
    margin-top: 1rem;
    width: 100%;
    height: auto;
    padding-left: 5px;
}
.other-friend-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.other-friend-profile>img{
    width: 3rem;
    border-radius: 35%;
    background-color: #c985a0;
}
.other-friend-profile span{
    font-size: 0.8rem;
    margin-top: 0.15rem;
}

/* 광고 */
.ad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6.25rem;
    margin: 0.2rem 0;
    margin: 0 0.8rem; 
    width: calc(100% - 1.6rem); 
}

.ad-container>a {
    width: 100%;
    height: 5rem;
    background-color: lightgray;
    border-radius: 5px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* aside아래 ul들 */
.container-list{
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    width: 100%;
    height: auto;
}
/* 프로필이 사진인 애들 */
.friend-profile{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin: 0.2rem 0;
}
.profile img{
    width: 3rem;
    border-radius: 35%;
    background-color: #c985a0;
}
.friend-profile h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    margin-left: 0.8rem; 
}

/* 아이콘프로필들 */
.profile i{
    font-size: 1.6rem;
    width: 3rem;
    height: 3rem;
    float: left;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.more{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.more h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    margin-left: 0.8rem; 
}

.num-right{
    font-size: 0.75rem;
    color: #979797;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.number{
    font-size: 0.8rem;
    color: #979797;
    margin-right: 0.15rem;
}
.angle-right{
    font-size: 0.75rem;
    color: #979797;
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}


/* 생일인친구 */
.birthday-friend{
    display: flex;
    flex-direction: column;
    margin: 0 0.8rem; 
    width: calc(100% - 1.6rem); 
}
.fa-cake-candles{
    background-color: #e47174;
}

/* 추천친구 */
.recommend-friend{
    display: flex;
    flex-direction: column;
    margin: 0 0.8rem; 
    width: calc(100% - 1.6rem); 
}
.fa-face-smile{
    background-color: #8b7fbe;
}

/* 채널 */
.channel{
    display: flex;
    flex-direction: column;
    margin: 0 0.8rem; 
    width: calc(100% - 1.6rem); 

}
.profile .fa-comment{
    background-color: #f4e349;
    color: black;
}

/* 친구 */
.friend{
    display: flex;
    flex-direction: column;
    margin: 0 0.8rem; 
    width: calc(100% - 1.6rem); 
}
.friend-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 0.8rem);
    flex: 1;
    margin-left: 0.8rem; 
}
.friend-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.2rem;
    margin-bottom: 0.2rem;
}

.friend-head h2 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
}
.friend-bottom{
    width: 100%;
}
.contents{
    /* 세로..정렬 */
    display: flex;
    color: #979797;
    white-space: normal;
    font-size: 0.8rem;
}
/* 포터 */
footer {
    width: 100%;
    height: 4.375rem;
    background-color: #f2f2f2;
    border-top: 1px solid lightgray;
    margin-bottom: 0;
}

footer>nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.footer-icon a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
}
.footer-icon {
    flex:1; /*뒤에배경까지 5등분으로 차지*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /*뒤에 배경 height도 100%로 차지*/
}

.footer-icon i {
    font-size: 1.5rem; 
    margin-bottom: 0.5rem; 
    color: #979797;
}

.footer-text {
    font-size: 0.875rem;
    color: #979797;
}
.footer-icon:hover{
    cursor: pointer;
}

.footer-icon:hover i,
.footer-icon:hover .footer-text{
    color: #111111;
    
}
.footer-icon:not(:hover):nth-child(1) i,
.footer-icon:not(:hover):nth-child(1) .footer-text{
    color: #111111;
}
/* 다른 footer icon에 hover시 color아 기본색(옅은색)으로 바뀌는 것을 하고싶었으나 실패함 */